{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}


{% block main %}
    <form action="/change_password" method="post">

        <!-- old password -->
        <div class="form-group">
            <input class="form-control" name="old" placeholder="Old password" type="password"/>
        </div>

        <!-- new password -->
        <div class="form-group">
            <input class="form-control" name="new" placeholder="New password" type="password"/>
        </div>

        <!-- confirmation -->
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Passowrd confirmation" type="password"/>
        </div>

        <button class="btn btn-primary" type="submit">Change password</button>

    </form>
{% endblock %}
